@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body {
    min-height: 100vh;
    background: #e7f2fd;
}
.container {
    position: relative;
    max-width: 1350px;
    width: 100%;
    /* background-color: red; */
    margin: 50px auto;
    padding: 20px;
}
button{
    padding: 10px 20px;
    font-size: 18px;
    background: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    cursor: pointer;
}
.filter-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

}
button.active {
    background: #4070f4;
    color: #fff;

}
.filterable-cards {
    margin-top: 25px;
    display: flex;
    gap: 20px;    
    flex-wrap: wrap;
}
.card {
    flex-grow: 1;
    flex-basis: 300px;
    background-color: #fff;
    padding: 3px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

}
.card.hide {
    display: none;
}
.card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    height: 210px;
    object-fit: cover;
}
.card-body {
    padding: 15px 20px 20px;
}
.card-title {
    font-size: 20px;
    font-weight: 500;
    color: #333;

}
.card-text {
    font-size: 18px;
    color: #333;
}